body {
  height: 100%;
}
a {
	text-decoration: none;
}
.map {
    color: #fff;
}
.link {
    color: #666;
}
.twi:hover {
   color:#32CDFB;
   -webkit-transition:color 500ms ease-in;
   -moz-transition:color 500ms ease-in;
   -o-transition:color 500ms ease-in;
   transition:color 500ms ease-in;
}
.inst:hover {
   color:#9B6555;
   -webkit-transition:color 500ms ease-in;
   -moz-transition:color 500ms ease-in;
   -o-transition:color 500ms ease-in;
   transition:color 500ms ease-in;
}
.vk:hover {
   color:#427091;
   -webkit-transition:color 500ms ease-in;
   -moz-transition:color 500ms ease-in;
   -o-transition:color 500ms ease-in;
   transition:color 500ms ease-in;
}
.drbl:hover {
   color:#E6508E;
   -webkit-transition:color 500ms ease-in;
   -moz-transition:color 500ms ease-in;
   -o-transition:color 500ms ease-in;
   transition:color 500ms ease-in;
}
.mail:hover {
   color:#CD342C;
   -webkit-transition:color 500ms ease-in;
   -moz-transition:color 500ms ease-in;
   -o-transition:color 500ms ease-in;
   transition:color 500ms ease-in;
}
.gradient {
	position: fixed;
    left: 0px; right: 0px; top: 0px; bottom: 0px;
    background: -moz-radial-gradient(#FFF, #bcbcbc);
    background: -ms-radial-gradient(#FFF, #bcbcbc);
    background: -webkit-radial-gradient(#FFF, #bcbcbc);
    background-attachment: fixed;
}
.container {
    width:300px; /*Ширина блока*/
    height:450px; /*Высота блока*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-150px; /*Смещаем блок на половину всей ширины влево*/
    margin-top:-225px; /*Смещаем блок на половину высоты вверх*/
    background:#ffffff;
    box-shadow: 0px 2px 6px 0px;
    border-radius: 7px;
}
.card {
	border-radius: 7px 7px 0px 0px;
	max-width: 100%;
}
.header {
	background: #d34e4e;
	border-top: 4px solid #e08585;
	height: 96px;
	max-height: 100px;
	max-width: 100%;
}
.content {
	text-align: center;
    font-family: Patrick Hand SC;
}
.contentext {
    padding: 6px;
    color: #666;
}
.headertext {
	font-family: Patrick Hand SC;
    padding-top: 8px;
	color: #fff;
    text-align: center;
}
.maps {
    padding-left: 15px;
    background: url(http://i.imgur.com/r1uE4eG.png)  no-repeat 0 5px;
}
.photo {
    max-width: 100%;
}
.upp {
    border-bottom: 6px solid #e08585;
}
.container2 {
    width:400px; /*Ширина блока*/
    height:300px; /*Высота блока*/
    margin:0 auto;
    overflow:visible;
    position:absolute;
    left:50%;
    top:50%;
    margin-left: -200px; /*Смещаем блок на половину всей ширины влево*/
    margin-top: -150px; /*Смещаем блок на половину высоты вверх*/
    background: #ffffff;
    box-shadow: 0px 2px 6px 0px;
    border-radius: 7px;
}
.content2 {
    text-align: center;
    padding-top: 6px;
    font-family: Patrick Hand SC;
    font-size: 20pt;
    color: #666;
}
.container3 {
    width:400px; /*Ширина блока*/
    overflow:visible;
    position:absolute;
    left:50%;
    margin-left:-200px; /*Смещаем блок на половину всей ширины влево*/
}
.container4 {
    width:400px; /*Ширина блока*/
    margin-top: 30px;
    overflow:visible;
    position:relative;
    box-shadow: 0px 2px 6px 0px;
    border-radius: 7px;
    background: #fff;
}
.post {
    max-width: 100%;
    max-height: 100%;
}
.header2 {
    background: #d34e4e;
    border-top: 4px solid #e08585;
    max-width: 100%;
    border-radius: 7px 7px 0px 0px;
    font-family: Patrick Hand SC;
    padding: 6px;
    color: #fff;
    text-align: center;
    font-size: 17pt;
}
.contentext2 {
    padding-top: 3px;
    padding-bottom: 8px;
}
